.header {
  text-align: center;
  color: #ebc934 !important;
  font-size: 30px;
  font-weight: 600;
  background-color: #eb4034 !important;
}

.main__content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main__content--searchBar {
  margin: auto 300px;
}

.searchBar {
  border-radius: 20px !important;
}

.main__content--table {
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer {
  background-color: #eb4034 !important;
  font-weight: 600;
  text-align: center;
}

/* ---------------------------------------- */

.navigation__homepage--search--movie {
  background-color: #f5f6f8;
  color: #ffffff;
  padding: 12px;
  border-radius: 3px;
  text-align: left;
  width: 100%;
  display: none;
}

.navigation__homepage--search--movie--active {
  background-color: #f5f6f8;
  color: #ffffff;
  padding: 12px;
  border-radius: 3px;
  text-align: left;
  width: 100%;
  display: block;
}

.search__key {
  color: #000000;
  font-weight: bold;
}

.search__result {
  cursor: pointer;
}

@media (max-width: 480px) {
  .main__content--searchBar {
    margin: auto 30px;
  }

  .footer {
    font-size: 12px !important;
  }
}
